In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv('../AAPL2021-04-28.csv')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1591 non-null   object
 1   Open       1591 non-null   float64
 2   High       1591 non-null   float64
 3   Low        1591 non-null   float64
 4   Close      1591 non-null   float64
 5   Adj Close  1591 non-null   float64
 6   Volume     1591 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 87.1+ KB

In [8]:
df1.Date = df1.Date.astype('datetime64[ns]')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1591 non-null   datetime64[ns]
 1   Open       1591 non-null   float64
 2   High       1591 non-null   float64
 3   Low        1591 non-null   float64
 4   Close      1591 non-null   float64
 5   Adj Close  1591 non-null   float64
 6   Volume     1591 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 87.1 KB

In [11]:
df1 = df1.set_index('Date')

In [13]:
df1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-12-31,28.205000,28.282499,27.552500,27.594999,25.100164,165613600
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.861401,212818400
2015-01-05,27.072500,27.162500,26.352501,26.562500,24.161013,257142000
2015-01-06,26.635000,26.857500,26.157499,26.565001,24.163294,263188400
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.502111,160423600
...,...,...,...,...,...,...
2021-04-21,132.360001,133.750000,131.300003,133.500000,133.500000,68847100
2021-04-22,133.039993,134.149994,131.410004,131.940002,131.940002,84566500
2021-04-23,132.160004,135.119995,132.160004,134.320007,134.320007,78657500
2021-04-26,134.830002,135.059998,133.559998,134.720001,134.720001,66905100
2021-04-27,135.009995,135.410004,134.110001,134.389999,134.389999,65752700